{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center highlight-text">Rejoignez notre Communauté Python !</h2>
    <p class="text-center">
        Vous souhaitez apprendre Python, partager vos connaissances et collaborer sur des projets passionnants ? 
        Rejoignez notre communauté dynamique sur WhatsApp !
    </p>

    <div class="text-center my-4">
        <a href="https://chat.whatsapp.com/GYW26mcCXDA8LM0gfrJQv4" target="_blank" class="btn highlight-btn">Rejoindre la Communauté</a>
    </div>

    <p class="text-center">
        <i class="bi bi-emoji-smile-fill"></i> Nous accueillons les débutants comme les experts ! <i class="bi bi-emoji-smile-fill"></i>
    </p>
    <div class="mt-5">
        <h3 class="highlight-text mt-4">Pourquoi nous rejoindre ?</h3>
        <ul class="list-group mt-3">
            <li class="list-group-item d-flex align-items-center">
                <i class="bi bi-chat-dots-fill text-primary me-3"></i>
                Discussions et entraide sur Python
            </li>
            <li class="list-group-item d-flex align-items-center">
                <i class="bi bi-lightbulb-fill text-warning me-3"></i>
                Partage de projets et idées innovantes
            </li>
            <!-- <li class="list-group-item d-flex align-items-center">
                <i class="bi bi-calendar-event-fill text-success me-3"></i>
                Évènements en ligne et ateliers
            </li> -->
            <li class="list-group-item d-flex align-items-center">
                <i class="bi bi-person-fill text-info me-3"></i>
                Support pour débutants
            </li>
        </ul>
    </div>
    

    <div class="social-media text-center mt-4">
        <p>Suivez-nous aussi sur nos autres plateformes :</p>
        <a href="https://cm.linkedin.com/in/emmanuel-bangwen-75091117b" target="_blank">
            <i class="bi bi-linkedin social-icon"></i>
        </a>
        <a href="https://www.instagram.com/t.r.e.b.m.a.l/" target="_blank">
            <i class="bi bi-instagram social-icon"></i>
        </a>
        <a href="https://github.com/EmmanuelBANGWEN" target="_blank">
            <i class="bi bi-github social-icon"></i>
        </a>
        <a href="mailto:bikoyemmanuel531@gmail.com">
            <i class="bi bi-envelope social-icon"></i>
        </a>
    </div>
</div>
{% endblock %}
